*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

.header{
    position: relative;
    top: 0px;
    left: 0px;
    background-color: white;
    width: 100%;
    height: 100px;
    top: 0px;
    left: 0px;
}

/*nav elements*/
.nav{
    display: flex;
    flex-direction:row;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 162, 255, 0.369);
    justify-content: space-around;
}

.nav-link{
    position:relative;
    top:0px;
    font-size: 25px;
    height: 100px;
    left: 150px;
}


.header-link{
    position: relative;
    margin: 15px;
    padding: 10px;
    top:33%;

}
.header-link:hover{
    background-color:rgb(176, 224, 230) ;
    transition:0.2s ease-out;
}

.nav-logo{
    font-size: 40px;
    position: relative;
    top:0px;
}

/* main elements*/
.main{
    display: flex;
    flex-direction:column;
    position: absolute;
    left: 0px;
    width: 100%;
  
}
.awsome-website{
    position: relative;
    background-color: rgb(176, 224, 230);
    height: 650px;
    left:0px;
    width:100%;
}
.main-description{
    position: relative;
    display: flex;
    flex-direction:column;
    width: 30%;
    top:100px;
    left: 15%;
}
.main-title{
    font-size: 60px;
}
.description{
    font-size:25px
}
.btn{
    color: white;
    height: 30px;
    position: relative;
    left: 10px;
    width: 100px;
    background-color: rgb(6, 136, 229);
    font-size: 15px;
    border-radius: 5px;
}
.main-img{
    position:absolute;
    display: flex;
    align-items: center;
    height: 300px;
    left: 60%;
    top:175px;
    background-color:rgb(128, 203, 213);
    width:500px;
    border-radius: 10px;
}
.img{
    position: relative;
    width:400px;
    height: 200px;
    left: 50px;
    background-color: black;
}
/* box field*/
.sector2{
    background-color: rgba(108, 186, 193, 0.642);
    height: 500px;
}
.info{
    font-size: 35px;
    text-align: center;
}
.box-field{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.box-holder{
    width: 150px;
    height: 150px;
    margin-left: 30px;
    margin-right:30px;
}
.box{
    background-color: rgb(214, 212, 212);
    border: 3px rgb(56, 76, 233) solid;
    width: 175px;
    height: 175px;
    border-radius:10px;
}

.box-info{
    position: relative;
    left: 10px;
    font-size:25px;
    font-style:bold;
    text-align: center;
}

   
